@font-face {
    font-family: GreatVibesRegular;
    src: url(polices/GreatVibes-Regular.otf);
}


html {
    min-height: 100%;
}

body {
    font-family: Arial, sans-serif;
    font-size: 24px;
    text-align: center;
    padding: 10px 5% 10px 5%;
    background: linear-gradient(#ffffff, #5689ff) no-repeat;
    height: auto;
    min-height: 100%;
}

#magritte {
    font-family: 'GreatVibesRegular'; 
    font-size: 48px;
    color: rgb(81, 87, 95);
    font-weight: normal;
    font-style: normal;
    margin-top: 0;
    margin-bottom: 0;
}

#informations {
    width: 50px;
    position: absolute;
    top: 10px;
    right: 10px;
}

#educajou {
    width: 50px;
    position: absolute;
    top: 10px;
    left: 10px;
}

#intro {
    font-size: 24px;
    color: gray;
}

#plume {
    height: 1em;
    vertical-align: top;
}

h1 {
    color: #656565;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

#form-redimensionnement {
    margin: auto;
    width: fit-content;
    max-width: calc(100% - 30px);
    text-align: left;
    background-color: #ffffff6e;
    padding: 15px;
    border-radius: 15px;
    border: 2px #ffffff solid;
}

#resultat {
    margin-top: 20px;
}

#resultat img {
    margin: 10px;
    border: 1px solid #ccc;
    max-width: 200px;
    max-height: 200px;
    display: inline-block;
}

#images {
    font-family: Arial, sans-serif;
    font-size: 24px;
    max-width: 100%;
    word-wrap: break-word;
}

.input-taille {
    font-family: Arial, sans-serif;
    font-size: 24px;
    width: 5em;
}

button {
    font-family: Arial, sans-serif;
    font-size: 24px;
}

#reduire-telecharger {
    margin: auto;
}


#darkbox {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.5);
    z-index: 999;
  }
  
  .lightbox {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 60%;
    top: 50%;
    left: 50%;
    padding: 10px;
    border: 10px #b4d9f8c3 outset;
    border-radius: 20px;
    transform: translateX(-50%) translateY(-50%);
    background-color: #ffffff;
    z-index: 1000;
  }
  
  .lightbox h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    min-height: 36px;
    margin: 10px;
  }
  
  .contenu-lightbox {
    flex: 1;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: auto;
    text-align: left;
    width: fit-content;
    margin: auto;
  }
  
  .bouton-fermer {
    position : fixed;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-image: url(images/bouton_fermer.svg);
    background-size: contain;
    background-color: transparent;
    border: none;
    outline: none;
  }
  
  .bouton-fermer {
    position : fixed;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-image: url(images/bouton_fermer.svg);
    background-size: contain;
    background-color: transparent;
    border: none;
    outline: none;
  }

  .hide {
    display: none;
  }


  @media only screen and (orientation: portrait) {
    #titre {
        margin-top: 60px;
    }
    
    #intro {
        font-size: 16px;
    }

    #form-redimensionnement {
        font-size: 16px !important;
    }

    button,input {
        font-size: 16px !important;
    }
  }